/* src/components/Menu.css */
.menu-page {
    padding: 40px 20px;
    background-color: #0f0c0a;
    background-image: url('../assets/menu2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .menu-page p {
    background-color: #1f93c9;
    padding: 10px;
  }
  
  .menu-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #1f93c9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .no-recipes {
    text-align: center;
    font-size: 1.2rem;
    color: #eef2f5;
  }
  
  
  @media (max-width: 768px) {
    .filter-buttons {
      flex-direction: column;
      align-items: center;
    }
  }
  