.shop-container {
    padding: 60px 20px;
    text-align: center;
    background-color: #1f93c9;
    background-image: url('../assets/shop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .shop-title {
    font-size: 2.7rem;
    color: #ad2828;
    margin-bottom: 10px;
  }
  
  .shop-desc {
    font-size: 1.2rem;
    color: #090707;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .coming-soon-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  .coming-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 260px;
  }
  
  .coming-image {
    height: 160px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
  }
  
  /* Placeholder backgrounds */
  .placeholder1 {
    background-image: url('../assets/spices.png');
  }
  .placeholder2 {
    background-image: url('../assets/ebook.png');
  }
  .placeholder3 {
    background-image: url('../assets/apron.png');
  }
  
  .waitlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .waitlist-form h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #090707;
  }
  
  .waitlist-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 260px;
    margin-bottom: 10px;
  }
  
  .waitlist-form button {
    width: 10%;
    padding: 10px 20px;
    background-color: #d35400;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {

    .coming-soon-grid {
      flex-direction: column;
      align-items: center;
    }

    .waitlist-form button {
        width: 30%;
  }
}